.square-wrapper {
  width: 4rem;
  aspect-ratio: 1 / 1;
  display: flex;
  border: 2px solid var(--calcite-color-border-3, #c7c7c7);
  margin-right: -1px;
  margin-top: -1px;
}

.board-row {
  display: flex;
  margin-right: -2px;
  margin-top: -2px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

