.square-wrapper {
  width: 4rem;
  aspect-ratio: 1 / 1;
  display: flex;
  border: 2px solid var(--calcite-color-border-3, #c7c7c7);
  margin: -1px;
}

.board-row {
  display: flex;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.game-panel {
  --calcite-shell-panel-max-width: 75vw;
}
